
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <section class="form-control-repeater">
      <div class="row">
        <!-- Form repeater -->
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeInvoiceRepeater">
            <h4 class="card-title">Settings</h4>
            <div class="card-body">
              <form action="#" class="invoice-repeater">
                <div *ngFor="let item of items; let i = index">
                <!-- Basic Select -->
                <div class="row d-flex align-items-start  align-items-end">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <label for="basicSelect">Document Class</label>
                      <select class="form-control" id="basicSelect">
                        <option>Tax Documents</option>
                        <option>Birth Certificate</option>
                        <option>SSN</option>
                      </select>
                    </div>
                    </div>
                    <div class="col-md-2 col-12  align-items-end">
                      <div class="form-group">
                        <button class="btn btn-outline-primary text-nowrap px-1" (click)="addItem(i)" rippleEffect>
                          <i data-feather="plus" class="mr-25"></i>
                          <span>Add New</span>
                        </button>
                      </div>
                    </div>  
                    <div class="col-md-2 col-12  align-items-end">
                      <div class="form-group">
                        <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteGroup(i)" rippleEffect>
                          <i data-feather="x" class="mr-25"></i>
                          <span>Remove Group</span>
                        </button>
                      </div>
                    </div>  
                  </div>
                  <ng-container *ngFor="let data of item.metadata; let j = index">
                  <div class="row d-flex align-items-end">
                    <div class="col-md-4 col-12">
                      <div class="form-group">
                        <label for="title{{ j }}">Title</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="data.title"
                          name="title{{ j }}"
                          id="title{{ j }}"
                          placeholder="Metadata title"
                        />
                      </div>
                    </div>

                    <div class="col-md-4 col-12">
                      <div class="form-group">
                        <label for="displayValue">Display Value</label>
                        <input
                          type="text"
                          class="form-control"
                          id="displayValue"
                          [(ngModel)]="data.displayValue"
                          name="displayValue{{ j }}"
                          id="displayValue{{ j }}"
                          placeholder="Metadata display value"
                        />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">
                      <div class="form-group">
                        <label for="type">Metadata Type</label>
                        <input
                          type="text"
                          class="form-control"
                          id="type"
                          [(ngModel)]="data.type"
                          name="type{{ j }}"
                          id="type{{ j }}"
                          placeholder="Metadata type"
                        />
                      </div>
                    </div>
                    <div class="col-md-2 col-12">  
                        <div class="form-group">
                        <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteItem(i,j)" rippleEffect>
                          <i data-feather="x" class="mr-25"></i>
                          <span>Delete</span>
                        </button>
                        </div>
                      </div>
                    
                  </div>
                </ng-container>
                  <hr />
                </div>
              </form>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-icon btn-primary mr-50" type="button" (click)="saveTemplate()" rippleEffect>
                    <i data-feather="plus" class="mr-25"></i>
                    <span>Save Template</span>
                  </button>                  
                  <button class="btn btn-icon btn-primary" type="button" (click)="addGroup()" rippleEffect>
                    <i data-feather="plus" class="mr-25"></i>
                    <span>Select Group</span>
                  </button>
                </div>
              </div>

            </div>
          </core-card-snippet>
        </div>
        <!--/ Form repeater -->
      </div>
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeInvoiceRepeater">
            <h4 class="card-title">Settings 2</h4>
            <div class="card-body">
              <form action="#" class="invoice-repeater">
                <label>Document Source</label>
                <div class="form-group">
                  <ng-select
                    [items]="docSourceTag"
                    [addTag]="true"
                    bindLabel="name"
                    placeholder="Select tag"
                    [(ngModel)]="DocSourceSelectTag"
                    name="DocSourceSelectTag"
                    (change)="docSourceSelected($event)"
                  >
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span class="ng-value-label"> {{ item.name }}</span>
                      <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                    </ng-template>
                  </ng-select>
                </div>

                <ng-container *ngIf="showOtherElements">
                  <!-- Documment State -->
                  <label>Document State</label>
                  <div class="form-group">
                    <ng-select
                      [items]="docStateTag"
                      [addTag]="true"
                      bindLabel="name"
                      multiple="true"
                      placeholder="Select tag"
                      [(ngModel)]="DocStateSelectTag"
                      name="DocStateSelectTag"
                    >
                      <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span class="ng-value-label"> {{ item.name }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                      </ng-template>
                    </ng-select>
                  </div>

                  <!-- Document Class -->
                  <div class="form-group">
                    <label>Document Class</label>
                    <input 
                    type="text"
                    class="form-control"
                    id="selectedDocClass"
                    [(ngModel)]="this.selectedDocClass"
                    name="selectedDocClass"
                    placeholder="Document Class"
                  />
                  </div>


                  <!-- Document Type -->
                  <div class="form-group">
                    <label>Document Type</label>
                    <input 
                    type="text"
                    class="form-control"
                    id="selectedDocType"
                    [(ngModel)]="this.selectedDocType"
                    name="selectedDocType"
                    placeholder="Document Type"
                  />
                  </div>

                  <!-- MetaTags from Document Class -->
                  <div class="form-group">
                    <ng-container *ngFor="let data of selectedMetaTags; let m = index">
                      <ng-container *ngFor="let item of data | keyvalue">
                        <div class="row d-flex align-items-end">
                          <div class="col-md-4 col-12">
                            <div class="form-group">
                              <label for="title{{ m }}">MetaTag Title</label>
                              <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="item.key"
                                name="title{{ m }}"
                                id="title{{ m }}"
                                placeholder="MetaTag title"
                              />
                            </div>
                          </div>
                          <div class="col-md-4 col-12">
                            <div class="form-group">
                              <label for="displayValue">MetaTag Type</label>
                              <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="item.value"
                                name="type{{ m }}"
                                id="type{{ m }}"
                                placeholder="MetaTag value"
                              />
                            </div>
                          </div>                          
                          <div class="col-md-2 col-12">  
                              <div class="form-group">
                              <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteMetaTag(m)" rippleEffect>
                                <i data-feather="x" class="mr-25"></i>
                                <span>Delete</span>
                              </button>
                              </div>
                            </div>
                        </div>
                      </ng-container>                      
                    </ng-container>
                  </div>
                </ng-container>
              </form>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>

  </div>
</div>